:root {
    --primary_color: #141AFC;
    --primary_varaint: #0307a3;
    --secondary_color: #0207dc;
    --on_primary: rgb(250, 250, 250);
    --on_background: rgb(66, 66, 66);
    --on_background_alt: rgba(66, 66, 66, 0.7);
    --background: rgb(255, 255, 255);
    --box_shadow: 0 5px 20px 1px rgba(0, 0, 0, 0.5);
    --accent: #015896;
    --tint_start: rgba(0,0,0, 0.5);
    --tint_end: rgba(0,0,0, 0.8);
}

[data-theme = "dark"] {
    --primary_color: #15141a;
    --primary_varaint: #23222b;
    --secondary_color: #2b2a33;
    --on_primary: #cfcfd8;
    --on_background: #cfcfd8;
    --on_background_alt: #15141a;
    --background: #121212;
    --accent: #2b2a33;
    --box_shadow: 0px 1px 2px rgba(251,251,254,0.2);
    --tint_start: rgba(0, 0,0, 0.7);
    --tint_end: rgba(0, 0, 0, 0.9);
}
.dark {
    --text-primary: #fbfbfe;
    --text-secondary: #cfcfd8;
    --text-inactive: rgba(207,207,216,0.6509803921568628);
    --text-link: #74a9f6;
    --text-invert: #15141a;
    --background-primary: #15141a;
    --background-secondary: #23222b;
    --background-tertiary: #2b2a33;
    --background-mark-yellow: rgba(232,140,102,0.4);
    --border-primary: #52525e;
    --border-secondary: #3a3944;
    --button-primary-default: #fbfbfe;
    --button-primary-hover: #cfcfd8;
    --button-primary-active: #9f9fad;
    --button-primary-inactive: #fbfbfe;
    --button-secondary-default: #2b2a33;
    --button-secondary-hover: #52525e;
    --button-secondary-active: #5b5b66;
    --button-secondary-inactive: #2b2a33;
    --icon-primary: #fbfbfe;
    --icon-information: #468df3;
    --icon-warning: #e06633;
    --icon-critical: #ed3966;
    --icon-success: #39a038;
    --accent-primary: #468df3;
    --accent-primary-engage: rgba(70,141,243,0.1);
    --accent-secondary: #468df3;
    --shadow-01: 0px 1px 2px rgba(251,251,254,0.2);
    --shadow-02: 0px 1px 6px rgba(251,251,254,0.2);
    --focus-01: 0px 0px 0px 3px rgba(251,251,254,0.5);
    --field-focus-border: #fbfbfe;
    --code-token-tag: #74a9f6;
    --code-token-punctuation: #8f8f9d;
    --code-token-attribute-name: #ed3966;
    --code-token-attribute-value: #39a038;
    --code-token-comment: #8f8f9d;
    --code-token-default: #fbfbfe;
    --code-token-selector: #b366f9;
    --code-background-inline: #3a3944;
    --code-background-block: rgba(58,57,68,0.5);
    --scrollbar-color: hsla(0,0%,100%,0.25);
    --category-color: #74a9f6;
    --category-color-background: rgba(116,169,246,0.4392156862745098);
    --code-color: #a3c6f9;
    --mark-color: #0e4390;
    --plus-accent-color: #74a9f6;
    --html-accent-color: #ed3966;
    --css-accent-color: #74a9f6;
    --js-accent-color: #e06633;
    --http-accent-color: #39a038;
    --apis-accent-color: #b366f9;
    --learn-accent-color: #d36699;
    --plus-code-color: #a3c6f9;
    --html-code-color: #f16b8c;
    --css-code-color: #a3c6f9;
    --js-code-color: #e88c66;
    --http-code-color: #6bb86a;
    --apis-code-color: #c68cfb;
    --learn-code-color: #de8cb3;
    --plus-mark-color: #0e4390;
    --html-mark-color: #8b0526;
    --css-mark-color: #0e4390;
    --js-mark-color: #822600;
    --http-mark-color: #055204;
    --apis-mark-color: #602695;
    --learn-mark-color: #78264d;
    --html-accent-engage: rgba(237,57,102,0.7);
    --css-accent-engage: rgba(116,169,246,0.7);
    --js-accent-engage: rgba(224,102,51,0.7);
    --http-accent-engage: rgba(57,160,56,0.7);
    --apis-accent-engage: rgba(179,102,249,0.7);
    --learn-accent-engage: rgba(211,102,153,0.7);
    --html-code-inline: #23222b;
    --html-code-block: #23222b;
    --css-code-inline: #23222b;
    --css-code-block: #23222b;
    --js-code-inline: #23222b;
    --js-code-block: #23222b;
    --http-code-inline: #23222b;
    --http-code-block: #23222b;
    --apis-code-inline: #23222b;
    --apis-code-block: #23222b;
    --learn-code-inline: #23222b;
    --learn-code-block: #23222b;
    --modal-backdrop-color: rgba(21,20,26,0.7);
    --blend-color: rgba(0,0,0,0.5019607843137255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

#wrapper {
    font-family: sans-serif;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.no_display_small {
    display: none;
}

a {
    text-decoration: none;
    color: var(--on_primary);
}

li {
    list-style-type: none;
}

.fa {
    color: var(--light);
font-size: 30px;
}

section {
    margin-top: 14rem;
    padding: 1rem;
}

h2 {
    text-align: center;
}


/* Header */
header {
    color: var(--on_primary);
    padding: 1rem;
    background: linear-gradient(var(--tint_start), var(--tint_end)), url("../images/header_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    text-shadow: #888;
}
header > .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img:first-child {
    width: 150px;
    margin-bottom: 3px;
}

header figure {
    text-align: center;
}

.header_top {
    grid-column: 1/4;  
}

.header_top > .container {
    justify-content: space-between;
    padding-top: 1rem;
}

.hamburger_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    display: inline-block;
    cursor: pointer;
    z-index: 10;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--on_primary);
    margin: 6px 0;
    transition: 0.4s;
  }

  /* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
  }

.header_main {
    position: relative;
    top: -10rem;
    grid-column: 1/4;
    grid-row: 2/3;
    height: 55vh;
}

.header_main > .container {
    letter-spacing: 2px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.header_main ul {
    margin: 2rem 0;
}
.header_main li {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 0.8rem;
}

.header_main p {
    font-size: 18px;
    letter-spacing: 1px;
}

.header_main button {
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    border: hidden;
    color: var(--light);
    font-weight: bolder;
    font-size: 16px;
    margin: 2rem auto;
    border-radius: 10px;
}

.header_main button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* MAIN */
/* Services */
.service_card i {
    color: var(--primary_color);
}

.services {
    text-align: center;
    color: var(--on_background);
}

.service_card:first-of-type {
    margin: 1rem auto;
}

.service_cards div+div {
    margin: 3rem auto;
}

.service_card  {
    border: 2px solid var(--light-shadow);
    border-radius: 15px;
    padding: 1rem;
    height: 210px;
    width: 70%;
    box-shadow: 2px 2px 5px var(--light-shadow);
    max-width: 350px;
}

.service_card > p {
    line-height: 1.2rem;
    letter-spacing: 1px;
}

/* ASIDE */
/* Coming Soon Modal */
.soon_modal, .navigation_modal {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100vh;
    left: 0;
    background: var(--primary_varaint);
    color: var(--light);
    transition: 0.5s;
    z-index: 1;
}

.navigation_modal > .container {
    
    height: 100vh;
}

.nav_modal_show,
.modal_show {
    top: 0;
}

.navigation_modal nav {
    width: 100vw;
    /* flex-direction: column; */
    height: 100%;
}

nav ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    list-style: none;
}

nav ul li {
    height: 25%;
    overflow: hidden;
}

.navigation_modal li {
    width: 100%;
    
    text-align: center;
    
}

.overlay_slide_right {
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
}

.overlay_slide_left {
    transform: translateX(-100vw);
    transition: all 0.8s ease-in-out;
}

nav li a {
    position: relative;
    top: 45%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

nav li a:hover {
    transform: scale(1.2)
}


nav li a::before {
    content: "";
    width: 25vw;
    height: 3px;
    background-color: #fff;
    position: fixed;
    top: 47.5%;
    left: 0;
    opacity: 0;
}

nav li a:hover::before {
opacity: 1;
} 

.navigation_modal li:nth-child(1) {
    background-color: var(--primary_color);
}

.navigation_modal li:nth-child(2) {
    background-color: var(--secondary_color);
}

.navigation_modal li:nth-child(3) {
    background-color: var(--primary_varaint);
}

.navigation_modal li:nth-child(4) {
    background-color: var(--primary_color);
}

.navigation_modal .social {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
}

/* Slide in animation with delay for each nav item */
.slide_in_1 {
    animation: slide_in 0.2s linear 0.2s  both;
}

.slide_in_2 {
    animation: slide_in 0.4s linear 0.4s  both;
}

.slide_in_3 {
    animation: slide_in 0.4s linear 0.6s  both;
}

.slide_in_4 {
    animation: slide_in 0.4s linear 0.8s  both;
}

.slide_in_5 {
    animation: slide_in 0.4s linear 1s  both;
}

@keyframes slide_in {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

/* Slide out animation with delay for each nav item */
.slide_out_1 {
    animation: slide_out 0.3s linear 0.5s  both;
}

.slide_out_2 {
    animation: slide_out 0.3s linear 0.4s  both;
}

.slide_out_3 {
    animation: slide_out 0.3s linear 0.3s  both;
}

.slide_out_4 {
    animation: slide_out 0.3s linear 0.2s  both;
}

.slide_out_5 {
    animation: slide_out 0.3s linear 0.1s  both;
}

@keyframes slide_out {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Theme switch */
.theme_switch {
    position: fixed;
    top: 50vh;
    right: 20px;
    /* display: flex;
    justify-content: flex-end; */
    padding: 20px 0;
    z-index: 10;
  }

  /*slider switch css */
.theme_switch_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme_switcher {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }

  .theme_switch input {
    display:none;
  }

  .slider {
    background-color: var(--accent);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;
  }

  .slider:before {
    background-color: #fff;
    bottom: 4px;
    content: "";
    background: url(../images/moon.png);
    height: 26px;
    left: 4px;
    position: absolute;
    transition: .4s;
    width: 26px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  input:checked + .slider {
    background-color: var(--accent);
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    background: url(../images/sun.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

/* FOOTER */
footer > #wrapper {
    background-color: var(--primary_color);
    padding: 2rem;
    color: var(--on_primary);
    line-height: 1.4rem;
    letter-spacing: 1px;
}

footer > #wrapper > * {
    margin-bottom: 4rem;
}

.footer_summary {
    grid-template-columns: 1fr 1fr 1fr;
}

.footer_summary > .logo {
    grid-column: 1/2;
}

footer h2 {
    margin-bottom: 1.2rem;
    text-align: left;
}

.footer_summary > .text {
    grid-column: 1/4;
    width: 90%;
}

.footer_summary figure {
    margin-bottom: 1rem;
    text-align: center;
}

.footer_summary img {
    width: 120px;
}

.footer_summary figcaption {
    text-align: center;
}

.footer_quick_links > a {
    display: block;
    font-weight: bold;
    
}

.footer_services li,
.footer_quick_links a {
    margin-top: 0.5rem;
}

.test {
    border: 2px solid red;
}