* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

#wrapper {
    font-family: sans-serif;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.no_display_small {
    display: none;
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style-type: none;
}

.fa {
    color: #fff;
font-size: 30px;}

.fa-times {
    position: fixed;
    top: 35px;
    right: 20px;
    display: none;
    z-index: 2;
}

section {
    margin-top: 14rem;
    padding: 1rem;
}

h2 {
    text-align: center;
}


/* Header */
header {
    color: #fff;
    padding: 1rem;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.8)), url("../images/header_back.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    text-shadow: #888;
}
header > .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

header img:first-child {
    width: 150px;
    margin-bottom: 3px;
}

header figure {
    text-align: center;
}

.header_top {
    grid-column: 1/4;  
}

.header_top > .container {
    justify-content: space-between;
    padding-top: 1rem;
}

.header_main {
    position: relative;
    top: -10rem;
    grid-column: 1/4;
    grid-row: 2/3;
    height: 55vh;
}

.header_main > .container {
    letter-spacing: 2px;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.header_main ul {
    margin: 2rem 0;
}
.header_main li {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 0.8rem;
}

.header_main p {
    font-size: 18px;
    letter-spacing: 1px;
}

.header_main button {
    padding: 0.5rem 1rem;
    background-color: #00f;
    border: hidden;
    color: #fff;
    font-weight: bolder;
    font-size: 16px;
    margin: 2rem auto;
    border-radius: 10px;
}

.header_main button:hover {
    opacity: 0.6;
    cursor: pointer;
}

/* MAIN */
/* Services */
.service_card i {
    color: #00f;
}

.services {
    text-align: center;
}

.service_card:first-of-type {
    margin: 1rem auto;
}

.service_cards div+div {
    margin: 3rem auto;
}

.service_card  {
    border: 2px solid #ccc;
    border-radius: 15px;
    padding: 1rem;
    height: 210px;
    width: 70%;
    box-shadow: 2px 2px 5px #ccc;
    max-width: 350px;
}

.service_card > p {
    line-height: 1.2rem;
    letter-spacing: 1px;
}

/* ASIDE */
/* Coming Soon Modal */
#soon_modal, .navigation_modal {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: -100vh;
    left: 0;
    background: #000;
    color: #fff;
    transition: 0.5s;
    z-index: 1;
}

.navigation_modal > .container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    height: 80vh;
}
.navigation_modal nav {
    grid-column: 2/3;
    grid-row: 2/3;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.navigation_modal .social {
    grid-row: 4/5;
    grid-column: 2/3;
    justify-content: space-evenly;
    align-items: center;
}
